# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Virtualenv
.venv/

# Env files
.env

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# Expo client
mobile-web-client/node_modules/
mobile-web-client/.expo/
mobile-web-client/.expo-shared/
mobile-web-client/dist/
mobile-web-client/web-build/
